html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #F6F4EA;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 50px
  overflow: hidden;
}

/* ---------------header---------------- */

h1 {
  font-size: 36px;
}

/* ---------------body---------------- */

main {
  min-height: 600px;
}

.block {
  width: 50px;
  height: 50px;
  position: relative;
  margin: 0;
  display: inline-block;
}

#red{
    background-color: red;
    left: 393px;
    top: 300px;
    animation-name: red;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

#blue{
    background-color: #0c85c1;
    left:100px;
    top: 300px;
    animation-name: blue;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#black1{
    background-color: black;
    left: 96px;
    top: 300px;
    animation-name: black;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#black2{
    background-color: black;
    left:400px;
    top: 300px;
    animation-name: blacktwo;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#yellow{
    background-color: yellow;
    left:500px;
    top: 300px;
    animation-name: yellow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#grey1{
    background-color: grey;
    left:124px;
    top: 100px;
    animation-name: grey;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#grey2{
    background-color: grey;
    left:68px;
    top: 366px;
    animation-name: greytwo;
    animation-duration: 5s;
    animation-delay: 2.5s;
    animation-iteration-count: infinite;
}

/* ---------------footer---------------- */

.column-left {
  width: 40%;
  float: left;
  min-height: 175px;
}

.column-right {
  width: 60%;
  float: left;
  min-height: 175px;
}

.column-right-left {
  width: 33%;
  float: left;
  /* min-height: 175px; */
}
.column-right-right
{  width: 67%;
   float: left;
   /* min-height: 175px; */
 }


h2 {
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 36px;
}

p {
  margin: 0;
  font-size: 15px;
}
